<div
  class="flex content-center px-4 py-4 z-10 bg-white fixed top-0 left-0 right-0 shadow"
>
  <div class="mr-6">
    <a
      class="px-4 py-4"
      [routerLink]="['/dashboard']"
      routerLinkActive="text-white bg-blue-800"
      >Dashboard</a
    >
  </div>
  <div class="mr-6">
    <a
      class="px-4 py-4"
      [routerLink]="['users']"
      [routerLinkActive]="['text-white', 'bg-blue-800']"
      >Users</a
    >
  </div>
  <div class="mr-6">
    <a
      class="px-4 py-4"
      [routerLink]="['products']"
      routerLinkActive="text-white bg-blue-800"
      >Products</a
    >
  </div>
</div>
<div class="py-4">&nbsp;</div>
<!-- <div class="shadow">Hallo</div> -->
<div class="">
  <!-- <div class="shadow">Hallo</div> -->
  <router-outlet></router-outlet>
</div>
